        body {
            font-family: 'Oswald', sans-serif;
            color: white;
            background-color: #111;
        }
        
        i {
            color: #ff9700;
        }
        /*  HEADER */
        /* .navbar-right {
        display: inline;
    } */
        
        .navbar {
            background: #111 !important;
        }
        
        .navbar-light .navbar-brand,
        .navbar-light .navbar-nav .nav-link {
            color: #ccc;
        }
        
        .navbar-light .navbar-nav .nav-link {
            font-size: 1.3em;
        }
        
        .navbar-light .navbar-toggler {
            border-color: #ccc;
        }
        
        .navbar-light .navbar-brand:hover,
        .navbar-light .navbar-nav .nav-link:hover {
            color: #ff9700;
        }
        /* .navbar-right {
    display: inline;
} */
        
        .navbar-brand {
            display: inline-block;
        }
        /* CAROUSEL */
        
        .carousel {
            font-family: 'Nunito', sans-serif;
            /* font-weight: 800;
    font-size: 3vh; */
            /* position: absolute; */
            /* max-width: 80%;
            max-height: 50%; */
            /* max-width: 100%;
                max-height: 60%; */
        }
        /* #carouselExampleCaptions {
                position: absolute;
                max-width: 100%;
            } */
        
        .carousel-inner .carousel-item img {
            max-width: 100%;
        }
        
        .carousel-caption .quotes-container h2,
        .carousel-caption .quotes-container p,
        .carousel-caption h2,
        .carousel-caption p {
            color: white;
            font-weight: 200;
            line-height: 1.2;
            text-shadow: 2px 4px 3px rgb(0 0 0 / 60%);
            display: block;
            font-size: 2em;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
        /* TECHNOLOGIES */
        
        hr {
            width: 50%;
            height: 1px;
            background-color: #ccc;
            border: none;
        }
        
        .main-section {
            width: 100%;
            margin-top: 50px;
            background-image: url('img/1-section.jpg');
            background-size: cover;
        }
        
        .line {
            height: 10px;
            width: 30%;
            background: #969696;
        }
        
        .row {
            margin: 0;
            padding: 0;
            width: 100%;
        }
        
        .item {
            margin: 5px 0px;
        }
        
        .circle {
            background: #ededed;
            opacity: 0.8;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            padding: 30px;
            position: relative;
            margin-bottom: 20px;
        }
        
        .align-items-center i {
            font-size: 50px;
            color: #de8000;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        
        #author {
            height: 150px;
            width: 100px;
            border-radius: 20%;
        }
        /* ABOUT */
        
        #about {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        
        .about-wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        
        .about-wrapper .about-item {
            flex-basis: 30%;
            height: 250px;
            position: relative;
        }
        
        .about-wrapper .about-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .about-wrapper .about-item h3 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(92, 93, 93, 0.5);
            margin: 0;
            text-align: center;
            line-height: 200px;
            color: #fff;
            font-weight: 300;
            font-size: 1em;
            opacity: 0;
            transition: all .3s;
        }
        
        .about-wrapper .about-item h3:hover {
            opacity: 1;
        }
        
        .about h2 {
            text-align: center;
        }
        /* FORM */
        
        .form-control {
            background-color: transparent;
        }
        
        input[type="text"],
        textarea {
            width: 100%;
            border: 0;
            border-bottom: 1px solid #fff;
            background-color: #111;
            display: inline-block;
            padding: 15px;
            margin-bottom: 15px;
            color: #fff;
            text-transform: uppercase;
        }
        
        .contact {
            /* background-image: url("img/1-carousel.jpg"); */
            background-size: cover;
            font-family: 'Nunito', sans-serif;
            color: antiquewhite;
        }
        
        .contact h2 {
            font-weight: 800;
        }
        
        .btn-primary {
            border: 2px solid #ccc;
            background-color: transparent;
            border-radius: 30px;
            font-weight: 600;
            padding: 15px 35px;
            text-align: center;
        }
        
        input[type="text"]:hover,
        textarea:hover {
            border-bottom: 2px solid #ff9700;
        }
        
        textarea:hover {
            background-color: #ff9700;
            opacity: 20%;
        }
        
        label:hover {
            color: #ff9700;
        }
        
        .btn-primary:hover {
            background-color: #ff9700;
            border: 0;
        }
        
        @media screen and (max-width: 767px) {
            .carousel-caption .quotes-container h2,
            .carousel-caption .quotes-container p,
            .carousel-caption h2,
            .carousel-caption p {
                color: white;
                font-weight: 200;
                line-height: 1.2;
                text-shadow: 2px 4px 3px rgb(0 0 0 / 60%);
                display: block;
                font-size: 1em;
                margin-block-start: 0.83em;
                margin-block-end: 0.83em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
            .about-wrapper .about-item {
                flex-basis: 50%;
                height: 250px;
                position: relative;
            }
            .carousel-inner .carousel-item img {
                width: 100%;
                height: 100%;
            }
            .main-section {
                flex-basis: 50%;
            }
            .circle {
                flex-basis: 60%;
            }
        }